<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Модифицировать товар</h1>
     <form action="update" method="POST">
        <label>Заголовок:</label>
        <input name="title" /><br><br>
        <label>Новый заголовок:</label>
        <input name="newTitle" /><br><br>
        <label>Новая цена</label>
        <input name="newPrice" type="text" /><br><br>
        <input type="submit" value="Отправить" />
     </form>
</body>
</html>